body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
  }

  svg {
    display: flex;
    position: relative;
    height: 100%;
    vertical-align: top;
    padding-right: 6.3%;
    overflow: auto;
    justify-content: center;
    align-items: center; 
  }

  .svg-container {
    height: 360px;
  }
  
  path.slice{
      stroke-width:2px;
  }

  .row .col {
    padding: 0;
  }
  
  polyline{
      opacity: .3;
      stroke: black;
      stroke-width: 2px;
      fill: none;
  }

#topContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#descriptionText {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.col-lg {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#dataContainer {
    margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#sceneNames {
  margin: 10px;
}

#likertContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: scroll;
}

#likertTitle {
  margin-top: 100px;
}

#likertChooseScene {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
}